@font-face {
  font-family: 'TT Commons';
  font-weight: bold;
  src: local('TT Commons Bold'), url('../public/fonts/appFont/TT\ Commons\ Bold.otf') format('opentype');
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Regular'), url('../public/fonts/appFont/TT\ Commons\ Regular.otf') format('opentype');
}

.onboarding-header-container{
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.headline-big{
  font-family: "TT Commons", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 32px;
  font-style: normal;
  word-wrap: break-word;
  margin-top: 0px;
}

.gray-subtext{
  font-family: "TT Commons", sans-serif;
  color: #718291;
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  line-height: 22px;
  margin-bottom: 0px;
}

.css-1oqqzyl-MuiContainer-root {
  padding: 0px;
}


.app-header {
  padding: 10px;
  margin-top:auto;
  margin-bottom: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.08);
  height: 60px;
  padding-left: 24px;
  padding-right: 24px;
}

.onboard-header{
  display: flex;
}

.center-logo{
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.css-1oqqzyl-MuiContainer-root {
  padding: 0px!important;
}

.icons{
  width: 32px;
  height: 32px;
}

.headline-icon{
  height: 48px;
  width: 48px;
  margin-right: 16px;
}



.MuiToggleButton-primary{
  border-radius:8px;
border: 1px solid#DEE5EB;
background:#F2F5F8 ;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 100%;
margin-bottom: 16px!important;
}

.Mui-selected{
  background-color: #3398FF!important;
  color: white!important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  border-radius:8px;
  border: 1px solid#DEE5EB!important;
}

.button-text{
  font-family: "TT Commons", sans-serif!important;
  text-transform: none;
  font-size: 16px;
  color: black;
}

.goal-section{
  display: grid;
  padding-left: 24px;
  padding-right: 24px;
}

