body {
    font-family: 'TT Commons Regular';
}

.hugeHeadline {
    font-size: 40px;
    padding-left: 20px;
    margin-right: 100px;
    margin-bottom: -1px;
    line-height: 35px;
    font-family: 'TT Commons Bold', sans-serif;
}

p {
    font-size: 14px;
    color: #718291;
    line-height: 18px;
    margin-left: 5%; /* Remove quotes */
    font-family: 'TT Commons Regular';
    margin-right: 10%;
 
}



